*{
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
html, body{
    height: 100%;
    font-size: 15px;
}
h2{
    font-size: 18px;
    margin: 1.5em 0 0.5em 0;
}
h2::before{
    content: "";
    background-image: url("../images/overlord-head.png");
    background-size: cover;
    width: 24px;
    height: 27px;
    display: block;
    left: -28px;
    top: 20px;
    opacity: 0.6;
    position: relative;
}
@media only screen and (max-width : 425px) {
    h2::before{
        display: none;
    }
}
ul {
  margin-bottom: 20px;
}
a{
    text-decoration: none;
    border-bottom: 1px dotted;
    padding-bottom: 1px;
}
.page{
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    background-color: #C4C4D0;
}

.header{
    background-image: url('../images/masthead-bg.png');
    background-size: cover;
    background-position: center;
    background-color: #BB3407;
    max-width: 1024px;
    height: 369px;
    padding: 30px;
}

.header img{
    position: relative;
    top: 45px;
    display: block;
    margin: 0 auto;
    width: 550px;
    max-width: 695px;
}
@media only screen and (max-width : 660px) {
    .header img{
        width: 100%;
    }
}
.header p{
    color: white;
    font-size: 25px;
    margin: 0 auto;
    max-width: 550px;
    top: 80px;
    position: relative;
    text-align: center;

}

.sub-header{
    display: table;
    background: #5E5E7B;
    color: white;
    padding: 10px;
    width: 100%;
}
.sub-header p{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}
.links{
    display: table;
    padding: 9px 0 14px 0;
    width: 100%;
    background-color: #494965;
}
.links a, .links a:visited, .links a:active{
    color: white;
}
.links a:hover{
    border-bottom: 1px solid;
    background-color: #626283;
}
.links div{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}
.links a{
    margin: 0 10px;
}
.content {
    padding: 0 13% 60px 13%;
    background-color: #C4C4D0;
    margin-top: 40px;
    line-height: 1.4;
}
@media only screen and (max-width : 768px) {
    .content{
        padding-left: 75px;
        padding-right: 75px;
    }
}
@media only screen and (max-width : 425px) {
    .content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.content p{
    margin: 0.5em 0;
}

.commandline {
    background-color: black;
    color: white;
    padding: 3px 10px;
    display: inline-block;
    margin: 5px 0;
}
.content a, .content a:visited, .content a:active {
    color: #9A2B05;
}
.content a:hover{
    border-bottom: 1px solid;
    background-color: #DFDFE8;
}
.image-wrapper {
  text-align: center;
}
.media{
    max-width: 100%;
}
.footer{
    background-color: #C20000;
    background: linear-gradient(90deg, #c20000, #ee7347, #c20000);
    color: white;
    padding: 20px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;
}
.img-a{
    padding: none !important;
    border: none !important;
}

.workbox{
    float: right;
    width: 200px;
    padding: 10px 20px 20px 50px;
    background-color: #dddde4; /*#167108; #9c0b0b; */
    margin-left: 10px;
    color: white;
}

@media only screen and (max-width : 425px) {
    .workbox{
        font-size: 13px;
        width: 160px;
        padding: 5px 0px 18px 45px;
    }
}

.workbox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.workbox li a, .workbox a:hover, .workbox a:visited{
    color: black;
    background: none;
}
.workbox li::before{
    content: "";
    background-image: url("../images/favicon-96x96.png");
    Background-size: cover;
    width: 22px;
    height: 22px;
    left: -32px;
    border: solid 1px #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: -23px;
    position: relative;
    top: 6px;
    box-shadow: 1px 4px 10px 2px rgba(11, 0, 103, 0.15);
}
@media only screen and (max-width : 425px) {
    .workbox li::before{
        width: 18px;
        height: 18px;
        top: 5px;
        left: -28px;
        margin-right: -20px;
    }
}
